<div class="py-5">
    <div class="container">
        <div class="row align-items-center text-center">
            
            <!-- M&Y Yazılım Eğitim Akademi Danışmanlık Şirketi -->
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://muratyucedag.com" target="_blank">
                    <img class="img-fluid img-brand d-block mx-auto" src="https://media.licdn.com/dms/image/v2/D4D0BAQEV6blgplECGQ/company-logo_200_200/company-logo_200_200/0/1694069648475?e=1749081600&v=beta&t=e5cL-WYlnPNrHf9aURSjG2fZo1lqoyAFWeEkI2uTiRo" alt="M&Y Danışmanlık Şirketi" />
                </a>
                <p class="mt-2">M&Y Yazılım Danışmanlık</p> 
            </div>
            <!-- Acunmedya Akademi -->
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://acunmedyaakademi.com" target="_blank">
                    <img class="img-fluid img-brand d-block mx-auto" src="https://acunmedyaakademi.com/wp-content/uploads/2022/08/acunmedya-akademi-logo-siyah.png" alt="Acunmedya Akademi" />
                </a>
                <p class="mt-2">Acunmedya Akademi</p> 
            </div>
            <!-- Nişantaşı Üniversitesi -->
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://www.nisantasi.edu.tr" target="_blank">
                    <img class="img-fluid img-brand d-block mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6eHXlpkReSiqyQtyFOrfC5iQ150I5vmBvxg&s" alt="Nişantaşı Üniversitesi" />
                </a>
                <p class="mt-2">Nişantaşı Üniversitesi</p> 
            </div>
            <!-- AkademiQ -->
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://portal.acunmedyaakademi.com/" target="_blank">
                    <img class="img-fluid img-brand d-block mx-auto" src="https://portal.acunmedyaakademi.com/storage/system/npLseoelh85NeY8Kc8zJcOmNgQ0WjYPODkhek0vT.png" alt="AkademiQ" />
                </a>
                <p class="mt-2">AkademiQ</p> 
            </div>
        </div>
    </div>
</div>
