<div class="col-xl-4 col-md-6 stretch-card grid-margin stretch-card">
    <!-- Browser Stats -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tarayıcı İstatistikleri</h4>
            <div class="row py-2">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between pb-3 border-bottom">
                        <div>
                            <img class="mr-2" src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/browser-logo/opera-logo.png" alt="" />
                            <span class="p">Opera Mini</span>
                        </div>
                        <p class="mb-0">23%</p>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between pb-3 border-bottom">
                        <div>
                            <img class="mr-2" src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/browser-logo/safari-logo.png" alt="" />
                            <span class="p">Safari</span>
                        </div>
                        <p class="mb-0">07%</p>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between pb-3 border-bottom">
                        <div>
                            <img class="mr-2" src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/browser-logo/chrome-logo.png" alt="" />
                            <span class="p">Chrome</span>
                        </div>
                        <p class="mb-0">33%</p>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between pb-3 border-bottom">
                        <div>
                            <img class="mr-2" src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/browser-logo/firefox-logo.png" alt="" />
                            <span class="p">Firefox</span>
                        </div>
                        <p class="mb-0">17%</p>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <img class="mr-2" src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/browser-logo/explorer-logo.png" alt="" />
                            <span class="p">Explorer</span>
                        </div>
                        <p class="mb-0">05%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Browser Stats Ends -->
</div>

